.block {
    height: 100px;
    width: 100px;
    display: inline-block
   }
   
   .black{
    background-color: black;
   }
   .lavender{
    background-color: lavender;
   }
   .purple{
    background-color: purple;
   }
   .pink{
    background-color: pink;
   }
   .orange{
    background-color: orange;
   }
   .red{
    background-color: red;
   }
   .blue{
    background-color: blue;
   }
   .gold{
    background-color: gold;
   }
   .silver {
    background-color: silver;
   }